body {
    background-color: #ffdffc;
  }

.tyuuou{
    color:rgb(0, 195, 255);
    margin-left: auto;
    margin-right: auto;
    width: 12em
}

.tyuu{
    margin-left: auto;
    margin-right: auto;
    width: 14em
}