body {
    background-color: #ffdffc;
    padding-left: 5%;
}
.kinkyou{
    background-color: #6efdbf;
    padding-left: 5%;
}
.otokonoko{
    background-color: #aae8fe;
    padding-left: 5%;
}
.VRChat{
    background-color: #b8adff;
    padding-left: 5%;
}
#exam1 table{
    font-size:15px;
    padding-left: 15%;
    border: solid 2px blue;
}
#exam1 td, #exam1 tr {
    font-size:15px;
    padding-left: 5%;
    border: solid 2px blue;
}

.vrc-tab-buttons button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #ffb3ff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.vrc-tab-buttons button:hover {
    background-color: #ff66cc;
    color: white;
    padding-left: 5%;
}
